.contact
  &__title
    font-size: 22px
    color: rgb(65, 61, 75)
    font-weight: bold
    margin-top: 0
    margin-bottom: 28px
    text-align: center
  &__form
    margin: 0 auto
    width: 460px
  &__button
    border: 1px solid
    height: 40px
    max-width: 120px
    border-color: rgb(0, 224, 208,)
    border-radius: 2px
    background-image: none
    background: transparent
    font-size: 16px
    color: rgb(0, 224, 208)  
    padding: 10px 15px
    margin-bottom: 100px
    cursor: pointer
.input__text
  margin-bottom: 25px
  width: 100%
  padding: 15px 20px
  border: 1px solid #e5e5e5
  font-size: 14px
  color: #e5e5e5
  outline: none
.textarea__text
  width: 100%
  margin-bottom: 25px
  padding: 15px 20px
  border: 1px solid #e5e5e5
  font-size: 16px
  color: #e5e5e5
  outline: none
  height: 150px