.footer
  padding: 70px 0
  background-image: url(../img/footer-bg.jpg)
  &-container
    display: flex
    justify-content: space-between
    align-items: center
  &__copyright
    &__link
    text-decoration: none
    font-size: 14px
    color: #fff
